header {
    background-color:white;
    color : darkcyan;
    padding : 10px;
    height: 160px;
}
header img{ margin: 20px; }
header div{ float: left; }
#power_btn {
    border:1px solid darkcyan;
    margin:20px;
    width:50px;
    height:50px;
    border-radius:75px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    float: right;
}
nav {
        background-color:lightseagreen;
        height: 40px;
        text-align: center;  
}
a { text-decoration: none; }
nav a{
    display: inline-block;
    width: 18%;
    height: 40px;
    padding: 5px;
    text-align: center;    
    font-weight: bold;         
}
nav a:link, a:visited {color : white;}
nav a:hover, a:active {
    background-color: white;
    color : lightskyblue;
}
.disable { color : gray !important; }
sup { 
    color : red;
    font-size: x-small;
 }
#content {
    text-align: center; 
    position: relative;
}
#signup_cover {
    width : 100%; 
    height : 100%;
    position : absolute;
    left:0px; top:0px; 
    background-color : rgba( 0, 0, 0, 0.7 ); 
    
    display: flex;
    align-items: center;
}
#signup_box {
    display: inline-block; 
    margin: 0 auto;
    background-color : lightseagreen;
}
#login_btn_list {
    margin: 0px;
    padding: 10px;
}
.signup {
    width:350px;
    display: table;
    margin: 10px;
    border-radius: 5px;
    text-align:left;
}
#kakao { background-color: #fae100; }
#kakao img { width: 45px; height: 45px; margin: 5px;}
#kakao span { color: #381e1f; }
#facebook { background-color: #3b5a9b; }
#naver { background-color: #00c73c; }
#google { background-color: #ffffff; }
#google span {color: #db2814; }
#main { background-color: white; }
#main span { color: darkcyan; }
.signup img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    float: left;
}
.signup span { 
    line-height: 50px;
    font-family: "굴림", gulim, arial, helvetica, sans-serif;
    font-weight: bold;
    color:white;
}